.sort {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 3fr var(--type-width) var(--status-width) var(--site-width) 100px;
  grid-column-gap: 25px;
  padding: 0 15px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.sort__button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  padding: 0 10px 0 0;
  font-weight: 500;
  font-size: 11px;
  line-height: 15px;
  text-transform: uppercase;
  color: #999999;
  outline: none;
}

.sort__button:focus {
  font-weight: 700;
}

.sort__arrow {
  position: absolute;
  top: 50%;
  right: 0;
  width: 5px;
  height: 5px;
  border-left: 1px solid #999999;
  border-top: 1px solid #999999;
  transform: rotate(45deg) translateY(-50%);
  transition: all 150ms;
}

.sort__arrow--desc {
  right: 3px;
  transform: rotate(225deg) translateY(130%);
}
