header {
  flex: 0 0 auto;
  padding: 40px 0;
}

.header__heading {
  font-family: Montserrat, sans-serif;
  font-size: 26px;
  line-height: 40px;
  font-weight: bold;
  margin: 0;
}

.header__label {
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  margin: 0;
}

main {
  flex: 1 0 auto;
  height: auto;
}
